<ion-view view-title="Cotacoes" ng-init="getCotacaoById()">
  <form ng-submit="saveCotacao()">
	  <ion-content>
	    <h1>Cotação</h1>    
	      <div class="list">
	        <label class="item item-input">
	          <span class="input-label">Número</span>
	          <input type="text" ng-model="cotacao.id" disabled="true">
	        </label>
	        <label class="item item-input">
	          <span class="input-label">Nome</span>
	          <input type="text" ng-model="cotacao.nome">
	        </label>
	        <label class="item item-input">
	          <span class="input-label">Apólice</span>
	          <input type="text" ng-model="cotacao.valorApolice">
	        </label>
	        <label class="item item-input">
	          <span class="input-label">Franquia</span>
	          <input type="text" ng-model="cotacao.valorFranquia">
	        </label>
	        <label class="item">
	          <button class="button button-block button-positive" type="submit">Atualizar</button>
	        </label>
	      </div>
	  </ion-content>
  </form>
</ion-view>