<ion-view view-title="Cotacoes" ng-init="getCotacoes()">
  <ion-content>
  	<button class="button button-icon button-clear ion-plus" ng-click="newCotacao()">
      Nova cotação
    </button>
    <ion-list>
      <ion-item ng-repeat="cotacao in cotacoes" >
        <button class="button-icon button-clear ion-trash-a" ng-click="deleteCotacao(cotacao.id)">
        </button>
        <a href="#/app/cotacoes/{{cotacao.id}}" style="text-decoration: none; color: #000000;">
          Número: {{cotacao.id}} - kind: {{cotacao.kind}}
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>