<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Nova cotação</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeNewCotacao()">Close</button>
        </div>  
    </ion-header-bar>
    <ion-content>
        <form ng-submit="saveCotacao()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" ng-model="cotacao.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Carro -Modelo</span>
                    <input type="text" ng-model="cotacao.modelo">
                </label>
                <label class="item item-input">
                    <span class="input-label">Carro - Versão</span>
                    <input type="text" ng-model="cotacao.versao">
                </label>
                <label class="item item-input">
                    <span class="input-label">Carro - Ano</span>
                    <input type="text" ng-model="cotacao.ano">
                </label>
                <label class="item item-input">
                    <span class="input-label">Carro - Marca</span>
                    <input type="text" ng-model="cotacao.marca">
                </label>
                <label class="item item-input">
                    <span class="input-label">Perfil - Lugar</span>
                    <input type="text" ng-model="cotacao.lugarUso">
                </label>
                <label class="item item-input">
                    <span class="input-label">Perfil - Estado civil</span>
                    <input type="text" ng-model="cotacao.estadoCivil">
                </label>
                <label class="item item-input">
                    <span class="input-label">Perfil - Estacionamento</span>
                    <input type="text" ng-model="cotacao.estacionamento">
                </label>
                <label class="item item-input">
                    <span class="input-label">Perfil - Sexo</span>
                    <input type="text" ng-model="cotacao.sexo">
                </label>
                <label class="item item-input">
                    <span class="input-label">Perfil - Idade</span>
                    <input type="text" ng-model="cotacao.idade">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Cadastrar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>