<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Novo sinistro</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewSinistro()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveSinistro()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Tipo</span>
          <input type="text" ng-model="sinistro.tipo">
        </label>
        <label class="item item-input">
          <span class="input-label">Localização</span>
          <input type="text" ng-model="sinistro.localizacao">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Cadastrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
