<ion-view view-title="Sinistro">
  <ion-content>
    <h1>Sinistro</h1>
    	<div class="list">
	        <label class="item item-input">
	          <span class="input-label">Tipo</span>
	          <input type="password" ng-model="cotacao.tipo" disabled="true">
	        </label>
	        <label class="item item-input">
	          <span class="input-label">Localização</span>
	          <input type="password" ng-model="cotacao.localizacao" disabled="true">
	        </label>
	    </div>
  </ion-content>
</ion-view>
